@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 75;
  font-weight: 375;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@layer base {
  td {
    font-size: large;
  }
}
